@model AWAQ_Web.MainPageModel

<link rel="stylesheet" href="~/css/styles.css" />


<div class="cont">
    <div class="login">
        <div class="form">
            <h4>Introduzca los datos del colaborador a registrar</h4>

            <form method="post" asp-page-handler="RegisterCollaborator">
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input asp-for="Nombre" type="text" class="form-control" placeholder="Ingrese nombre" >
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Apellidos</label>
                    <input asp-for="Apellidos" type="text" class="form-control" placeholder="Ingrese apellidos" >
                    <span asp-validation-for="Apellidos" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Correo electrónico</label>
                    <input asp-for="Email" type="email" class="form-control" placeholder="correo@awaq.com" >
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Tipo de colaborador</label>
                    <select asp-for="TipoUsuario" class="form-select" >
                        <option value="">- Seleccione -</option>
                        <option value="ADMIN">Administrador</option>
                        <option value="TEDI">TEDI</option>
                        <option value="GENERAL">General</option>
                    </select>
                    <span asp-validation-for="TipoUsuario" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Contraseña</label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Ingrese contraseña" >
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Confirmar contraseña</label>
                    <input asp-for="PasswordConfirm" type="password" class="form-control" placeholder="Confirme contraseña" >
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>

                <button class="btn" type="submit">Registrar colaborador</button>
            </form>
        </div>
    </div>
    <div class="login-img"></div>
</div>
