@{
}
<link rel="stylesheet" href="~/css/styles.css">
<div id="dashboard-content" class="content">
    
    <iframe title="Dashboard-Awaq" width="1024" height="612" src="https://app.powerbi.com/view?r=eyJrIjoiMjgzYTFkM2QtMWI1YS00OGMzLTk1MjktYTE2ZmRjMjQ2MWRhIiwidCI6ImRkNWE2NzU0LTBhMjEtNGU5YS05MDE4LWRkOWEwZmVjYTI3NCIsImMiOjR9&pageName=f477086700c7808c74de" frameborder="0" allowFullScreen="true"></iframe>
</div>
