@page
@model RegistrooModel
@{
	ViewData["Title"] = "Log In";
	Layout = "_Layout";
}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo Bootstrap 4</title>   
    <link rel="stylesheet" href="~/css/registroo.css" />
</head>
<body>
    <div class="cont">
        <div class="login">
            <div class="form">
                <h1>Registro de colaboradores</h1>

                <p>Introduzca los datos del colaborador a registrar</p>
                
                <form method="post">
                    <div class="mb-3">
                        <label for="ingresa tu nombre" class="form-label">Nombre</label>
                        <input asp-for="nombre" type="text" class="form-control" id="nombre" placeholder="Ingresar nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="Ingresa tu Apellidos" class="form-label">Apellidos</label>
                        <input asp-for="apellidos" type="text" class="form-control" id="apellidos" placeholder="Ingresar apellidos" required>
                    </div>

                    <div class="mb-3">
                        <label for="Ingresar correo electrónico" class="form-label">Correo electrónico</label>
                        <input asp-for="email" type="email" class="form-control" id="correo" placeholder="ejemplo@awak.com" required>
                    </div>

                    <div class="mb-3">
                        <label for="Tipo de colaborador" class="form-label">Tipo de colaborador</label>
                        <select asp-for="tipo_usuario"  class="form-select" id="Colaborador" required>
                            <option selected>Seleccionar...</option>  
                            <option value="ADMIN">Administrador</option>
                            <option value="TEDI">TEDI</option>
                            <option value="GENERAL">General</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="Ingresar contraseña" class="form-label">Contraseña</label>
                        <input asp-for="password"  type="password" class="form-control" id="contraseña" placeholder="Ingresar contraseña" required>
                    </div>

                    <div class="mb-3">
                        <label  for="Confirmar contraseña" class="form-label">Confirmar contraseña</label>
                        <input asp-for="password2" type="password" class="form-control" id="cocontraseña" placeholder="Confirmar contraseña" required>
                    </div>


                    <button class="btn" type="submit">Registrar colaborador</button>
                </form>

            </div>
        </div>

        

       

        <div class="login-img">
        </div>

    </div>

    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>


